// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.journal {
  padding: 20px 40px;
}

.journal li {

}

.journal li strong, .journal a {
  color: hsla(225, 100%, 10%, 0.95);
  padding: 10px 10px 10px 0;
}

.journal li strong:hover, .journal a:hover {
  color: hsla(200, 100%, 50%, 0.95);
}

.journal li button {
  outline: 0;
  padding: 5px;
}

.journal section {

}
